.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.search-button-wrapper {
  button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.input-wrapper {
  input {
    padding: 6px;
  }
}
